# Database
POSTGRES_PASSWORD=change_me_postgres_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak_password

# MinIO
MINIO_ROOT_USER=nexora
MINIO_ROOT_PASSWORD=change_me_minio_password

# Vault
VAULT_DEV_ROOT_TOKEN_ID=change_me_vault_token

# Grafana
GF_SECURITY_ADMIN_PASSWORD=change_me_grafana_password

# pgAdmin
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin_password

# Keycloak Client Secrets
KC_PORTAL_CLIENT_SECRET=change_me_portal_secret
KC_API_CLIENT_SECRET=change_me_api_secret
KC_GATEWAY_CLIENT_SECRET=change_me_gateway_secret

# Default User
KC_DEFAULT_USER_PASSWORD=change_me_user_password
